.breadcrumbs {
  margin-bottom: 25px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__link {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    transition: all 0.4 ease;
    padding-right: 28px;

    &::after {
      position: absolute;
      content: '';
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: #194258;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
    }
  }
  &__link.active {
    &::after {
      background-color: $main-blue;
    }
  }

  & .drop-container {
    position: relative;
    &:hover .drop {
      display: block;
    }
    .drop {
      background-color: $bg-color;
      width: 255px;
      display: none;
      position: absolute;
      top: 20px;
      left: -10px;

      ul {
        animation: fade 0.1s linear;
        border-radius: 20px;
        border: 1px solid $main-blue;
        padding: 3px;
      }
      .breadcrumbs-link {
        font-size: 16px;
        line-height: 20px;
        display: block;
        padding: 3px 10px;
      }
      .breadcrumbs-link:hover {
        color: $main-blue;
        text-decoration: underline;
      }
      .breadcrumbs-link.active {
        color: $main-blue;
        text-decoration: underline;
      }
    }
  }
}
