nav {
  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
  }
  .menu {
    display: block;
  }

  .menu__list {
    display: flex;
    z-index: 1;
    &-item {
      margin-right: 25px;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.fixed__nav {
  background-color: green;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

/* Burger */
.burger {
  display: none;
  cursor: pointer;
}

.menu__list.active {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(18, 10, 140, 1);

  z-index: 200;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
